/* CSS styles for product display in order page */
.order-products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    width: calc(33.33% - 20px);
    /* Adjust the width as needed */
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    overflow: hidden;
}

.product-image img {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-details {
    padding: 10px;
}

.product-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 16px;
    margin-bottom: 10px;
}